<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="{{ url_for('static',
    filename="styles/index.css") }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>Presidential Candidate Polling Dashboard</h1>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Pollster</th>
          <th>Sample</th>
          <th>Result</th>
          <th>Net</th>
        </tr>
      </thead>
      <tbody>
        {% for row in poll_data %}
        <tr>
          <td>{{row.date}}</td>
          <td>{{row.pollster_name}}</td>
          <td>{{row.sample_size}}</td>
          <td>
            {{row.first_person}}: {{row.first_value}} | {{row.second_person}}:
            {{row.second_value}}
          </td>
          <td>{{row.leader}} {{row.net}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
